html {
  font-family: "Racing Sans One", cursive;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(216, 215, 215);
  text-align: center;
}

.header-tag {
  font-family: "Racing Sans One", cursive;
}

.circuit-img {
  max-width: 320px;
  max-height: 250px;
}

#current {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 200px;
}

#current > div {
  width: 400px;
  height: auto;
  background-color: white;
  border-radius: 25px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  overflow-wrap: normal;
}

#full {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 50px;
  justify-content: center;
  gap: 50px;
}

#full > div {
  width: 400px;
  height: auto;
  background-color: white;
  border-radius: 25px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  overflow-wrap: normal;
}

.raceName {
  font-family: "Racing Sans One", cursive;
  font-size: 1.4em;
}

#form {
  margin: 50px 0;
}

#search {
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  font-family: "Poppins", sans-serif;
}

#submit {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  background-color: gray;
  color: white;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
